<div id="page-wrapper">

  <div class="container-fluid">

    <!-- this is the flash alert section -->
    <div class="row">
        <div class="col-lg-12">
          <%= render "partials/flash" %>
        </div>
    </div>

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Confirm Project Details
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-pencil-square-o "></i>
                    Details of Project
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
      <div class="row">

          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Basic Details
                      </h3>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-12">
                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Project Title
                        </h5>
                        <h6>

                          <%= @project.name %>
                        </h6>
                      </div>

                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Key Objectives / Goals
                        </h5>
                        <h6>
                          <%= @project.objectives %>
                        </h6>
                      </div>

                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Brief Description
                        </h5>
                        <h6>
                          <%= @project.description %>
                        </h6>
                      </div>

                    </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /.row -->


      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Resources Required
                      </h3>
                  </div>

                  <div class="panel-body">
                    <div class="col-md-8">
                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Talents / Manpower Required
                        </h5>
                        <h6>
                          <%= @project.talents_needed %>
                        </h6>
                      </div>

                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Estimated Budget
                        </h5>
                        <h6>
                          <%= @project.budget %>
                        </h6>
                      </div>

                      <div class='col-md-12'>
                        <h5>
                          <i class="fa fa-bar-chart-o fa-fw"></i>
                          Estimated Payoff
                        </h5>
                        <h6>
                          <%= @project.description %>
                        </h6>
                      </div>
                    </div>

                    <div class='col-md-4'>
                      <h5>
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        Select people to send invites to!
                      </h5>
                      <h6>
                        <%= @project.description %>
                      </h6>
                    </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-bar-chart-o fa-fw"></i>
                        Additional Files
                    </h3>
                </div>

                <div class="panel-body">
                  <div class="col-md-8">

                  <div class='col-md-12'>
                    <h5>
                      <i class="fa fa-bar-chart-o fa-fw"></i>
                      File Upload
                    </h5>
                      need to render file here
                  </div>
            </div>
        </div>
    </div>
  </div>

  <%= bootstrap_form_for :project, url: "/projects/confirm/"+@project.id.to_s, method:"PUT" do |p| %>
  <%= p.submit "Edit Project", class: "btn btn-success" %>
  <%= p.primary "Submit Project" %>
  <% end %>

</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
